@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);

.baseSettings 
{
    display: grid;
    justify-content: center;
    align-items: center;
}
.attractionsArea{
    width: 1200px;
    padding: 15px; 
    margin-top: 40px;
    margin-left: auto; /*為置中效果*/
    margin-right: auto; /*為置中效果*/
    margin-bottom: 55px;
    /* background-color: pink; */
    
}
.attractionsGroup{
    display: grid;
    justify-content: space-between; 
    grid-template-columns: repeat(4, 270px);
    grid-gap: 30px; 
    grid-auto-flow: row;
    /* background-color: aqua; */
}
.attractionsItem{
    width: 270px;
    height: 242px;
    border-color: rgb(232, 229, 229);
    border-style: solid;
    border-width: 0.5px;
    border-radius: 5px;
}
.attractionTopArea{
    width: 270px;
    height: 197px;
    background: url(../images/welcome.jpg);
    background-size: 270px 197px;
    align-items: center;
    border-radius: 5px 5px 0px 0px;
    /* background-color: gainsboro; */
}
.attractionImage{
    width: 270px;
    height: 157px;
}
.attractionName{
    height: 40px;
    background:rgba(0, 0, 0, 0.6);
    position:relative;
    z-index:1;
    text-align:left;
    padding: 10px;
    color:white;
    box-sizing: border-box;
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
}
.attractionBottomArea{
    width: 270px;
    height: 45px;
    display: grid;
    justify-content: space-between; 
    grid-template-columns: 1fr 1fr;
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;  
}
.MRT{
    color:#757575;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align:left;
    /* background-color: yellow; */
}
.category{
    color:#757575;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: right;
    /* background-color: antiquewhite; */
}
.navbarcontainer{
    position: sticky;
    top:0;
    right: 0;
    width: 1920px;
    margin-left: auto; /*為置中效果*/
    margin-right: auto; /*為置中效果*/
    background: white;
  }

.nav{
    width: 1200px;
    margin-left: auto; /*為置中效果*/
    margin-right: auto; /*為置中效果*/
    display: grid;
    padding: 10px;
    align-items: center; 
    grid-template-columns: 2fr 5fr;
    /* background-color: bisque; */
}
.menu {
    display: grid;
    grid-auto-flow: column;
    justify-self: end; 
    font-family: 'Noto Sans TC';
    font-style: normal;
    /* background-color: rgb(245, 166, 70); */
}
.item {
    margin: 0px 10px;
    font-weight: 500;
    font-size: 16px;
    color: #666666;
}
.title{
    color:#448899;
    font-weight: 700;
    font-size: 30px;
    /* background-color: rgb(70, 245, 73); */
}
.welcome{
    width: 1920px;
    height: 320px;
    background-image:url(../images/welcome.jpg);
    background-size: 1920px 480px;
}
.slogan{
    width: 1180px;
    height: 78px;
    margin-left: auto; /*為置中效果*/
    margin-right: auto; /*為置中效果*/
    font-family: 'Noto Sans TC';
    font-style: normal;
    color: #F8F8F8;
    margin-top: 85px;
}
.sloganTitle{
    font-weight: 700;
    font-size: 28px;
    /* Text Shadow */
    text-shadow: 0px 0px 30px #AABBCC;
}
.sloganSubtitle{
    margin-top: 15px;
    font-weight: 700;
    font-size: 16px;
}
.search{
    margin-top: 25px;
}
.searchBar{
    width: 400px;
    height: 46px;
    vertical-align:middle;
    box-sizing: border-box;
    border:0px;
}
/*webkit瀏覽器專用*/
input::-webkit-input-placeholder { 
    padding: 15px;
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #757575;
}
/*Firefox 4-18瀏覽器專用*/
input::-moz-placeholder { 
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #757575;
}
/*Firefox 19+瀏覽器專用*/
input::-moz-placeholder { 
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #757575;
}
/*IE10瀏覽器專用*/
input::-ms-input-placeholder { 
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #757575;
}
.buttonForsearch{
    width: 60px;
    height: 46px;
    background-color: #448899;
    vertical-align:middle;
    margin-bottom: 0px;
    border-radius: 0px 6px 6px 0px;
    border:0px;
    background-image:url(../icons/icon_search.svg);
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-size: round;
    background-position:center;
}
.footer{
    width: 1920px;
    height: 104px;
    left: 0px;
    bottom: 0px;
    background: #757575; 
    text-align:center;
    line-height:104px;
    color: white;
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
}

@media (max-width:1200px){
    .welcome{
        width: 100%;
    }
    .footer{
        width: 100%;
    }
    .navbarcontainer{
        width: 100%;
    }

}
@media (max-width:600px){
    .welcome{
        width: 100%;
    }
    .footer{
        width: 100%;
    }
    .navbarcontainer{
        width: 100%;
    }
}